
$loader-size: 100px;
$loader-dot-size: ($loader-size / 5); //20
$loader-height: $loader-dot-size; //20
$loader-dot-color: #2196F3;

.loader{
  //border: 1px solid blue;
  width: $loader-size;
  height: $loader-height;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  > div {
    content: " ";
    width: $loader-dot-size;
    height: $loader-dot-size;
    background: $loader-dot-color;
    border-radius: 100%;
    position: absolute;
    animation: shift 2s linear infinite;
    &:nth-of-type(1) { animation-delay: -.4s; }
    &:nth-of-type(2) { animation-delay: -.8s; }
    &:nth-of-type(3) { animation-delay: -1.2s; }
    &:nth-of-type(4) { animation-delay: -1.6s; }
  }
}

@keyframes shift {
  0%{
    left: -3*$loader-dot-size;
    opacity: 0;
    background-color: black;
  }
  10% { 
    left: 0; 
    opacity: 1;
  }
  90% { 
    left: $loader-size; 
    opacity: 1;
  }
  100%{
    left: ($loader-size + 3*$loader-dot-size);
    background-color: #ab2525;
    opacity: 0;
  }
}

//// info
.info{
  position: absolute;
  bottom: 0;
  color: crimson;
  .info-text{
    display: none;
  }
  input:checked + .info-text{
    display: block;
  }
}



